<div style="background-color: #cecece;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse; background-color:#f5f4f2">
    <tbody>
    <tr>
      <td align="center" valign="top" style="padding:8px; width:100%; border-top:0;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px; border-collapse:collapse; border-radius:16px;">
          <tbody>
          <tr>
            <td valign="top" style="background-color:#ffffff; padding:16px; text-align:center; border-radius:16px 16px 0 0;">
              <a href="#" target="_blank"><img alt="Optifleet" src="https://i.hizliresim.com/pcdnb9u.png" width="190" style="max-width:380px; border:0; height:auto; text-decoration:none;"></a>
            </td>
          </tr>
          <tr>
            <td valign="top" style="background-color:#ffffff; padding:8px;">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top:1px solid #f5f4f2; padding:0 32px;">
                <tbody>
                <tr>
                  <td valign="top" style="padding-top:32px;">
                    <h1 style="color:#0c0c14; font-family:Arial, Helvetica, sans-serif; font-size:24px; font-weight:bold; text-align:left;">
                      {{title}}</h1>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:center; padding-bottom:8px;">
                    <img alt="New Member" src="https://i.hizliresim.com/r5p13yv.jpg" width="536" style="border-radius:12px; max-width:100%; height:auto;">
                  </td>
                </tr>
                <tr>
                  <td style="padding:8px 32px;">
                    <p style="color:#0c0c14; font-family:Arial, Helvetica, sans-serif; font-size:16px;">Dear <b>{{invitedFullName}}</b>,</p>
                    <p style="color:#0c0c14; font-family:Arial, Helvetica, sans-serif; font-size:16px;"><b>{{inviterFullName}}</b> is inviting you to join the <b>{{workspaceName}}</b> team at the <b>{{depotName}}</b> depot as <b>{{role}}</b>.</p>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="padding-top:32px;">
                    <a href="{{confirmationUrl}}" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; padding:12px 32px; background-color:#3c6ded; color:#ffffff; text-decoration:none; border-radius:8px; display:block;">Join the Team</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td valign="top" style="background-color:#ffffff; padding:16px; border-radius:0 0 16px 16px;">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top:1px solid #f5f4f2; padding:24px 32px;">
                <tbody>
                <tr>
                  <td align="center" valign="middle" style="padding-top:8px;">
                    <a href="#" target="_blank"><img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=7ca4abf67a&amp;attid=0.1.8" alt="Twitter" height="35" width="35" style="border:0;"></a>
                    <a href="#" target="_blank"><img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=7ca4abf67a&amp;attid=0.1.6" alt="LinkedIn" height="35" width="35" style="border:0;"></a>
                    <a href="#" target="_blank"><img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=7ca4abf67a&amp;attid=0.1.4" alt="Instagram" height="35" width="35" style="border:0;"></a>
                  </td>
                </tr>
                </tbody>
              </table>
              <table border="0" cellpadding="0" cellspacing="0" width="100%"  >
                <tbody>
                <tr>
                  <td align="center" valign="top">
                    <p style="text-align:center; color:#706d6b; font-family:Arial, Helvetica, sans-serif; font-size:14px;">© 2024 Optifleet<br>Atatürk Blv. Ulus, Ankara, Turkey</p>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>
